node_modules/
dist/
venv/
__pycache__/
*.pyc
ml_backend/model/*.npz
ml_backend/results/*.png
ml_backend/results/*.json
dataset/train/**/*.jpg
dataset/train/**/*.jpeg
dataset/train/**/*.png
dataset/validation/**/*.jpg
dataset/validation/**/*.jpeg
dataset/validation/**/*.png
dataset/test/**/*.jpg
dataset/test/**/*.jpeg
dataset/test/**/*.png
manual_normal_images/*.jpg
manual_normal_images/*.jpeg
manual_normal_images/*.png
